 <body>
   <!-- Side Info Bar-->
   <div class="container">

     <div class="row">

       <div class="col-lg-3">

         <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fnetdna.webdesignerdepot.com%2Fuploads%2F2013%2F11%2Fpicjumbo.com_IMG_9857.jpg&f=1" style="width:200px; height:200px; margin-top:10px; margin-bottom:20px;"/>
         <div class="list-group" style="width:200px;">
           <p class="list-group-item"><%= @about_me %></p>
         </div>

       </div>
         <div class="row">
           <%= react_component 'Articles', articles: @articles %>
         </div>
        </div>
     <!-- /.row -->
   </div>
 <!-- /.container -->

   <!-- Footer -->
   <footer class="py-5 bg-dark">
     <div class="container">
       <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
     </div>
     <!-- /.container -->
   </footer>

   <!-- Bootstrap core JavaScript -->
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 </body>

</html>











<!-- <% if @articles.any? %>
  <% @articles.each do |article| %>
    <div class="col-md-6">
      <h2><%= link_to "#{article.title}", "/article/#{article.id}" %></h2>
      <h3><%= article.description %></h3>
      <p><%= article.act_text %></p>
    </div>
  <% end %>
<% else%>
  <%= 'There are no articles to show' %>
<% end %> -->
