<!DOCTYPE html>
<html>
  <head>
    <title>OwnBlog</title>
    <%= csrf_meta_tags %>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>

    <%= yield %>
  </body>
</html>
